.overlay{
    background-color: black;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    position: fixed;
}
.addFormDiv{
    text-align: center;
    width: 620px;
    height: 400px;
    z-index: 1;
    top: 40%;
    left: 35%;
    margin: -125px 0 0 -125px;
    border-radius: 10px;
    background-color: aliceblue;
    position: fixed;
}